* {
    font-family: sans-serif;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.bar {
    display: flex;
    align-items: center;
}

.header {
    background-color: #1F2937;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.logo {
    font-size: 24px;
    margin-left: 10%;
}

.links {
    list-style-type: none;
    display: flex;
    margin-left: auto;
    margin-right: 10%;
    gap: 20px;
}

.titlecard {
    display: flex;
    margin: 100px;
    margin-top: 40px;
    margin-bottom: 100px;
    gap: 40px;
}

img {
    width: 400px;
    height: 200px;
    flex-shrink: 0;
    background-color: #74767a;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.hero > p {
    margin: 0;
}

.title {
    font-size: 48px;
}

.white-light {
    color: #cdcfd3;
    font-size: 18px;
    font-weight: 300;
}

.white-heavy {
    color: #F9FAF8;
    font-weight: bolder;
}

button {
    width: 96px;
    height: 28px;
    border-radius: 6px;
    background-color: #3882F6;
    border-color: transparent;
    color: #F9FAF8;
    font-size: 12px;
    font-weight: 550;
}

.images {
    display: flex; 
    justify-content: center;
}

.subtext {
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-box {
    width: 160px;
    height: 160px;
    background-color: white;
    border-color: #3882F6;
    border-radius: 12px; 

}